.student-table {
  margin: 30px 0 0 0;
  border: 1px dashed var(--main-color);
  width: 100%;
}

.student-table thead {
  vertical-align: middle;
  height: 30px;
}

.student-table th {
  border-bottom: 1px dashed var(--main-color);
}

.student-table td {
  margin: 0 20px;
}

.student-link {
  display: block;
  color: var(--main-color);
  text-decoration: none;
}

.student-table tbody tr:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.student-table tbody tr:hover .student-link {
  color: white;
}
